footer{
    width: 100%;
    .top-footer{
        background-color: $green-kelp;
        .container{
            border-bottom: 0.01em solid rgba(255, 255, 255, 0.319);
            @include flex-between-center;
            color: $white;
            font-size: nth($fs, 3);

            .info-contact{
                .logo{
                    & img{
                        width: 160px;
                    }
                }

                p{
                    
                    line-height: 1.6;
                }
            }

            .shop_by_brand , .useful_links{

                h3{
                    font-size: nth($fs, 5);
                    font-weight: 600;
                }

                ul li{
                    list-style: none;
                    line-height: 3;

                    a{
                        text-decoration: none;
                        color: $white;
                    }
                }
                
            }

            .newsletter{
                @include flex-column-center-around;
                height: 200px;
                width: 180px;
                border-radius: 8px;
                background-color: #2c472f;
                background-image: url(../images/bg-transparent-3.png);
                background-size: cover;

                span{
                    font-size: nth($fs, 5);
                    font-weight: 600;
                }

                input{
                    @include button;
                    width: 150px;

                    &.text{
                        font-size: nth($fs, 3);
                        
                    }

                    &.button{
                        background-color: $apple;
                        color: $white;

                        &:hover{
                            @include button-hover-white;
                        }
                    }
                }
            }
        }

        ul.nav_links{
            display: flex;
            justify-content: center;
            list-style: none;
            li{
                a{
                    color: $white;
                    font-size: nth($fs, 3);
                    font-weight: 600;
                    text-decoration: none;
                }

                i{
                    font-size: nth($fs, 6);
                }
            }
        }
        
    }
    .bottom-footer{
        background-color: black;
        height: 50px;
        @include flex-center-center;

        span{
            color: $white;
            font-size: nth($fs, 2);
            word-spacing: 2px;
        }
    }
}