@import './nav';
@import './jumptron';

header{
    width: 100%;
    .container{
        height: 80px;
        @include flex-between-center;

        .logo, .input-search, .contact-us, .icons{
            @include flex-between-center;
            
            img{
                height: 35px;
            }

            
        }

        .input-search {
            position: relative;
            input{
                width: 350px;
                border-radius: 20px;
                border: 0;
                background-color: $westar;
                padding: 10px 20px;
                padding-left: 30px;
                
                &:focus{
                    border: 0;
                    outline: 0;
                }
            }

            i{
                position: absolute;
                left: 12px;
                font-size: nth($fs, 3);
            }
        }

        .icons{
            font-size: nth($fs, 4);
        }
    }

    hr{
        opacity: 0.4;
    }
}