@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-column-start-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flex-column-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin button{
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
}

@mixin button-hover-green{
    background-color: $apple;
    color: $white;
    cursor: pointer;
}

@mixin button-hover-white{
    background-color: $white;
    color: black;
    cursor: pointer;
}

@mixin xl {
    @media(min-width: 1400px) { 
        @content;
    }
}

@mixin overlay-sepia {
    .overlay{
        width: 100%;
        height: 100%;
        background-color: $sepia-skin;
        position: absolute;
        top: 0;
        display: none;
        
        color: $white;

        i, p:hover{
            cursor: pointer;
        }

        i{
            font-size: nth($fs, 8);
            padding: 15px 18px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.555);
        }

        p{
            color: $white;
            font-size: nth($fs, 3);
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}