@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-around-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-column-start-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@mixin flex-column-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin button{
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
}

@mixin button-hover-green{
    background-color: $apple;
    color: $white;
    cursor: pointer;
}

@mixin button-hover-white{
    background-color: $white;
    color: black;
    cursor: pointer;
}

@mixin xl {
    @media(min-width: 1400px) { 
        @content;
    }
}