section.product-arrival{
    p.pb-8{
        color: $bay-leaf;
        font-weight: 600;
    }
    .latest-products{
        width: 100%;
        @include flex-between-center;
        flex-wrap: wrap;
        

        .product{
            .image{
                width: 300px;
                height: 300px;
                position: relative;

                &:hover .overlay{
                    @include flex-column-center-center;
                }
                
                @include overlay-sepia;

            }
            p{
                color: $bay-leaf;
                font-size: nth($fs, 4);

                span.discount{
                    color: black;
                    font-size: nth($fs, 3);
                    text-decoration: line-through;
                }
            }
            
        }
    }
}