section{
    &.image-xl{
        .container{
            .image{
                height: 350px;
                width: 100%;
                background-image: url('../images/banner-3-2x-scaled.jpg');
                background-size: cover;
                color: $white;
                box-shadow: inset 400px 400px 400px 400px #00000048;
                @include flex-center-center;
                flex-direction: column;

                input{
                    @include button;

                    &:hover{
                        @include button-hover-green;
                    }
                }
                span{
                    text-transform: uppercase;
                    font-size: nth($fs, 3);
                    font-weight: 500;
                }

                h3{
                   
                    font-size: nth($fs, 8);
                }
            }

            .products-button{
                width: 100%;
                @include flex-between-center;
                flex-direction: column;
                span{
                    font-size: nth($fs, 3);
                    font-weight: bold;
                    color: $apple;
                    margin-right: auto;
                    justify-self: left;

                    &:hover{
                        cursor: pointer;
                    }
                }
                input.products-view{
                    @include button;
                    background-color: $apple;
                    color: $white;
                    font-weight: 400;
                    font-size: nth($fs, 3);
                    margin-left: auto;
                    justify-self: right;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}