section{
    &.image-xl{
        .container{
            .image{
                height: 350px;
                width: 100%;
                background-image: url('../images/banner-3-2x-scaled.jpg');
                background-size: cover;
                color: $white;
                box-shadow: inset 400px 400px 400px 400px #00000048;
                @include flex-center-center;
                flex-direction: column;

                input{
                    @include button;

                    &:hover{
                        @include button-hover-green;
                    }
                }
            }
        }
    }
}