section.testimonials{
    height: 800px;
    .testimonials-bg{
        height: 400px;
        background-color: $green-kelp;
        background-image: url(../images/bg-transparent-3.png);
    }
    

    .container{
        height: 100%;
        
        h1{
            color: $white;
            font-size: nth($fs, 8);
        }
        
        .customers{
            width: 100%;
            @include flex-between-center;
            
            .testimonial{
                @include flex-center-center;
                flex-direction: column;
                color: $white;
                img{
                    height: 60px;
                    border-radius: 50%;
                }

                span{
                    width: 300px;
                    font-size: nth($fs, 3);
                    
                }

                p{
                    color: $westar;
                    font-size: nth($fs, 3);
                }
            }
        }

        .newsletter{
            margin-top: -50px;
            height: 350px;
            background-image: url('../images/banner-7-2x-scaled.jpg');
            box-shadow: inset 400px 400px 400px 400px rgba(0, 0, 0, 0.062);
            background-size: cover;
            
            @include flex-column-start-center;
            padding-left: 50px;

            span{
                font-size: nth($fs, 7);
                font-weight: bold
            }

            p{
                width: 450px;
                text-align: left;
                font-size: nth($fs, 3);
            }

            input{
                
                @include button;

                &.text{
                    background-color: $westar;
                    width: 300px;
                }

                &.button{
                    background-color: $apple;
                    color: $white;

                    &:hover{
                        cursor: pointer;
                    }
                }

                &:focus{
                    outline: 0;
                }
            }
        }
    }
}