<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/master.css">
    <title>Document</title>
</head>
<body>
    <div id="root">

        <header>
            <div class="container">
                <div class="logo">
                    <img src="./assets/images/logo-symbol.png" alt="logo">
                    <h3 class="pl-4">Avada Pet Supplies</h3>
                </div>
                <div class="input-search">
                    <input type="text" placeholder="Search.."  v-model='search'>
                    <i class="fas fa-search"></i>
                </div>
                <div class="contact-us">
                    <h4>Questions?</h4>
                    <span class="pl-1">Call us : 1.800.123.4567 </span>
                </div>
                <div class="icons">
                    <i class="fas fa-shopping-bag"></i>
                    <i class="far fa-user pl-3"></i>
                </div>
            </div>
    
            <hr>
    
            <div class="container">
                <nav>
                    <div class="links">
                        <ul>
                            <li v-for='link in nav_links' :class="(link.active)? 'active': ''"><a  :class="(link.arrow_down)? 'arrow-down': ''"  href="">{{link.link}}</a></li>
                            <!-- <li><a class="arrow-down" href="">Shop</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a class="arrow-down" href="">Shop by brand</a></li> -->
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="jumptron">
                <div class="container">
                    <ul>
                        <li><i class="far fa-map"></i> <span>International</span> Shipping Services</li>
                        <li><i class="far fa-clock"></i> See our <span>store hours</span> and services</li>
                        <li><i class="fas fa-check"></i> We price match to give you the <span>best deals</span></li>
                    </ul>
                </div>

                <div class="bg-img">
                    <div class="container">
                        <span>find the best animal supplies</span>
                        <h3 class="pt-4 pb-8">
                            We know animals are a part of your 
                            family, let us help take care of them.
                        </h3>

                        <input type="button" value="Learn more about us">
                    </div>
                </div>

                <div class="container">
                    <div class="jumbo-bottom">
                        <img src="./assets/images/food-transparent-18-400x420.png" alt="food">
                        <span class="pl-6">
                            Get $25 OFF your first purchase
                            of our homemade pet food! 
    
                            <a href="">Visit the shop</a>
                        </span>
                    </div>
                </div>

            </div>
        </header>

        <main>
            <section class="browse-category">
                <div class="container text-center pt-8 pb-8">
                    <h2 class="pt-8 pb-2">Browse by category</h2>
                    <div class="container">
                        <span class="pb-8">
                            Augue purus et, tincidunt condimentum mauris.
                            At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, 
                            consequat nulla rhoncus dictum. Viverra.
                        </span>
                    </div>

                    <div class="categories pt-6 pb-8">
                        <div v-for='category in categories' class="category">
                            <div class="category-img" :style="`background-image: url(${category.type_img});`">

                            </div>
                            
                            <span class="pt-6">
                                {{category.type}} ({{category.num}})
                            </span>
                        </div>
                    </div>


                    <div class="food_type pt-6">
                        <div v-for='food in food_type' class="food pt-6 pb-8">
                            <span class="pt-4">
                                {{food.title}}
                            </span>
                            <p> {{food.subtitle}} </p>
                            <div class="food-img">
                                <img :src="`${food.type_img}`" alt="food">
                            </div>
                            
                            <input type="button" :value="`Shop ${food.type} food`">
                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-xl pt-2 pb-6">
                <div class="container">
                    <div class="image mb-8">
                        <span>find the best animal supplies</span>
                        <h3 class="pt-4 pb-8">
                            New arrivals weekly
                        </h3>

                        <input type="button" value="Learn more about us">
                    </div>

                    <div class="products-button">
                        <span class="pt-8">All-time best sellers</span>
                    <input class="products-view" type="button" value="View all products">
                    </div>
                </div>

            </section>

            <section class="products-price pb-8">
                <div class="container">
                    <span class="pb-8">Items everyone loves</span>
                </div>
                <div class="container">
                    
                    <div v-for='product in products' class="product pt-4">
                        <div class="image">
                            <img :src="`${product.product_img}`" alt="">
                            <div class="overlay">
                                <i class="far fa-check-square"></i>
                                <p class="pt-3">view cart</p>
                            </div>
                        </div>
                        
                        <span class="description pt-4">{{product.title}}</span>
                        <span  class="price"> <span class="discount pr-2">{{product.discount}}</span> {{product.price}}</span>
                        
                    </div>
                </div>
            </section>

            <section class="testimonials pt-8 mb-2 text-center">
                
                <div class="testimonials-bg pt-8">
                    <div class="container">
                    <h1 class="pb-4">Users testimonials</h1>
                    <div class="customers">
                        <div v-for='testimonial in testimonials' class="testimonial pt-8 pb-8">
                            <img  :src="`${testimonial.profile_pic}`" alt="">
                            <span class="pb-4 pt-6">{{testimonial.review}}</span>
                            <p>{{testimonial.customer_name}}</p>
                        </div>
                    </div>

                    
                </div>

                <div class="container">
                    <div class="newsletter">
                        <span class="pb-2 pt-6">Join our newsletter </span>
                        <p class="pt-2 pb-8">
                            Voluptat vel turpis nulla lorem sed semprer.
                            Aliquam sagittis sem libero viverra vehicula nullam ut nisl.
                        </p>

                        <div class="inputs pt-4">
                            <input class="text" type="text" placeholder="Insert your email ...*">
                            <input class="button ml-6" type="button" value="Subscribe">
                        </div>
                    </div>
                </div>

                </div>
                
            </section>

            <section class="tips-tricks pb-8 text-center">
                <span class="section-name">Get the best tips & tricks</span>
                <p class="mt-4 mb-8">Recent articles</p>

                <div class="container pt-3 pb-8">
                    <div class="card-articles">
                        <div v-for='tip in tips' class="card-article">
                            <div class="card-img">
                                <img :src="`${tip.pic}`" alt="">
                                <div class="overlay">
                                    <p>{{tip.article}}</p>
                                </div>
                            </div>
                            
                            <div class="title-article">
                                <p class="title">{{tip.article}}</p>
                                <p class="date pt-2">
                                    {{tip.date}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <input class="mt-6" type="button" value="Read all articles">
            </section>


            <section class="popular-arrivals mt-6">
                <div class="images">
                    <div class="img-1">
                        <div class="overlay">
                            <span>find the best animal supplies</span>
                            <h3 class="pt-4 pb-8">
                                Popular accessories
                            </h3>

                            <input type="button" value="Learn more about us">
                        </div>
                    </div>
                    
                    <div class="img-2">
                        <div class="overlay">
                            <span>find the best animal supplies</span>
                            <h3 class="pt-5 pb-5">
                                Popular accessories
                            </h3>

                            <input type="button" value="Learn more about us">
                        </div>
                    </div>
                </div>

                <div class="container pt-8 pb-8">
                    <div class="icons pt-8 pb-4">
                        <div class="icon">
                            <i class="fas fa-truck pb-2"></i>
                            <span>Free worldeide deliveries</span>
                        </div>
                        <div class="icon">
                            <i class="far fa-map pb-2"></i>
                            <span>Find stores near you</span>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign pb-2"></i>
                            <span>Best price guaranteed</span>
                        </div>
                        <div class="icon">
                            <i class="far fa-credit-card pb-2"></i>
                            <span>All credit card accepted</span>
                        </div>
                    </div>
                </div>

            </section>

            <section class="product-arrival pt-8 text-center">

                <div class="container pt-8">
                    <h3 class="pb-4">New products arrival</h3>
                    <p class="pb-8">Latest products</p>

                    <div class="latest-products">
                        <div v-for='product in products_arrival' class="product mb-8">
                            <div class="image">
                                <img :src="`${product.product_img}`" alt="">
                                <div class="overlay">
                                    <i class="far fa-check-square"></i>
                                    <p class="pt-3">view cart</p>
                                </div>
                            </div>

                            <h4 class="pt-4 pb-4">{{product.title}}</h4>
                            <p> <span class="discount pr-2">{{product.discount}}</span> {{product.price}} {{product.price_between}}</p>

                        </div>
                    </div>
                </div>
                
            </section>
        </main>

        <footer class="mt-16">
            <div class="top-footer pt-16 pb-16">
                <div class="container">
                    <div class="info-contact mb-16">
                        <div class="logo">
                            <img src="./assets/images/mobile-light-pet-logo-2x-400x105.png" alt="">
                        </div>
                        <p class="pt-4">
                            1234 Avada Avenue Avadaville <br>
                            info@your-company.com <br>
                            Call us: (1) 234 5678
                        </p>
                    </div>

                    <div class="shop_by_brand pt-14 mb-16">
                        <h3 >Shop by brand</h3>
                        <ul class="pt-4">
                            <li v-for='brand_link in shop_by_brand_links'><a href="">{{brand_link}}</a></li>
                        </ul>
                    </div>

                    <div class="useful_links pt-14 mb-16">
                        <h3>Useful links</h3>
                        <ul class="pt-4">
                            <li v-for='useful_link in useful_links'><a href="">{{useful_link}}</a></li>
                        </ul>
                    </div>

                    <div class="newsletter mt-16 mb-16">
                        <span class="ml-4 mt-4">Subscribe to our newsletter </span>
                        <input class="text" type="text" placeholder="Insert your email ...*">
                        <input class="button" type="button" value="Subscribe">
                    </div>
                </div>

                <ul class="nav_links pt-10">
                    <li v-for='nav_link in nav_footer' class="ml-4 mr-4"><a href="">{{nav_link}}</a></li>
                </ul>

                <ul class="nav_links social pt-10">
                    <li v-for='social_link in social_links' class="ml-3 mr-3"><a href=""><i :class="`${social_link}`"></i></a></li>
                </ul>


            </div>
            <div class="bottom-footer">
                <span>© Copytight 2012 - 2020 | Avada Theme by ThemeFusion | All Rights Reserved | Powered by WordPress</span>
            </div>

        </footer>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/dati.js"></script>
    <script src="./assets/js/main.js"></script>
    
</body>
</html>