<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/css/master.css">
    <title>Document</title>
</head>
<body>
    <div id="root">

        <header>
            <div class="container">
                <div class="logo">
                    <img src="./assets/images/logo-symbol.png" alt="logo">
                    <h3 class="pl-4">Avada Pet Supplies</h3>
                </div>
                <div class="input-search">
                    <input type="text" placeholder="Search.."  v-model='search'>
                    <i class="fas fa-search"></i>
                </div>
                <div class="contact-us">
                    <h4>Questions?</h4>
                    <span class="pl-1">Call us : 1.800.123.4567 </span>
                </div>
                <div class="icons">
                    <i class="fas fa-shopping-bag"></i>
                    <i class="far fa-user pl-3"></i>
                </div>
            </div>
    
            <hr>
    
            <div class="container">
                <nav>
                    <div class="links">
                        <ul>
                            <li><a class="active arrow-down" href="">Home</a></li>
                            <li><a class="arrow-down" href="">Shop</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a class="arrow-down" href="">Shop by brand</a></li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="jumptron">
                <div class="container">
                    <ul>
                        <li><i class="far fa-map"></i> <span>International</span> Shipping Services</li>
                        <li><i class="far fa-clock"></i> See our <span>store hours</span> and services</li>
                        <li><i class="fas fa-check"></i> We price match to give you the <span>best deals</span></li>
                    </ul>
                </div>

                <div class="bg-img">
                    <div class="container">
                        <span>find the best animal supplies</span>
                        <h3 class="pt-4 pb-8">
                            We know animals are a part of your 
                            family, let us help take care of them.
                        </h3>

                        <input type="button" value="Learn more about us">
                    </div>
                </div>

                <div class="container">
                    <div class="jumbo-bottom">
                        <img src="./assets/images/food-transparent-18-400x420.png" alt="food">
                        <span class="pl-6">
                            Get $25 OFF your first purchase
                            of our homemade pet food! 
    
                            <a href="">Visit the shop</a>
                        </span>
                    </div>
                </div>

            </div>
        </header>

        <main>
            <section class="browse-category">
                <div class="container text-center pt-8 pb-8">
                    <h2 class="pt-8 pb-2">Browse by category</h2>
                    <div class="container">
                        <span class="pb-8">
                            Augue purus et, tincidunt condimentum mauris.
                            At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, 
                            consequat nulla rhoncus dictum. Viverra.
                        </span>
                    </div>

                    <div class="categories pt-6 pb-8">
                        <div v-for='category in categories' class="category">
                            <div class="category-img" :style="`background-image: url(${category.type_img});`">

                            </div>
                            
                            <span class="pt-6">
                                {{category.type}} ({{category.num}})
                            </span>
                        </div>
                    </div>


                    <div class="food_type pt-6">
                        <div v-for='food in food_type' class="food pt-6 pb-8">
                            <span class="pt-4">
                                {{food.title}}
                            </span>
                            <p> {{food.subtitle}} </p>
                            <div class="food-img">
                                <img :src="`${food.type_img}`" alt="food">
                            </div>
                            
                            <input type="button" :value="`Shop ${food.type} food`">
                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="image-xl pt-2 pb-6">
                <div class="container">
                    <div class="image mb-8">
                        <span>find the best animal supplies</span>
                        <h3 class="pt-4 pb-8">
                            New arrivals weekly
                        </h3>

                        <input type="button" value="Learn more about us">
                    </div>

                    <div class="products-button">
                        <span class="pt-8">All-time best sellers</span>
                    <input class="products-view" type="button" value="View all products">
                    </div>
                </div>

            </section>

            <section class="products-price pb-8">
                <div class="container">
                    <span class="pb-8">Items everyone loves</span>
                </div>
                <div class="container">
                    
                    <div v-for='product in products' class="product pt-4">
                        <img :src="`${product.product_img}`" alt="">
                        <span class="description pt-4">{{product.title}}</span>
                        <span  class="price"> <span class="discount pr-2">{{product.discount}}</span> {{product.price}}</span>
                        
                    </div>
                </div>
            </section>

            <section class="testimonials pt-8 text-center">
                
                <div class="container mt-8">
                    <h1 class="pb-4">Users testimonials</h1>
                    <div class="customers">
                        <div v-for='testimonial in testimonials' class="testimonial pt-8 pb-8">
                            <img  :src="`${testimonial.profile_pic}`" alt="">
                            <span class="pb-4 pt-6">{{testimonial.review}}</span>
                            <p>{{testimonial.customer_name}}</p>
                        </div>
                    </div>

                    <div class="newsletter mt-8">
                        <span class="pb-4 pt-6">Join our newsletter </span>
                        <p class="pt-6 pb-6">
                            Voluptat vel turpis nulla lorem sed semprer.
                            Aliquam sagittis sem libero viverra vehicula nullam ut nisl.
                        </p>

                        <div class="inputs">
                            <input class="text" type="text" placeholder="Insert your email ...*">
                            <input class="button" type="button" value="Subscribe">
                        </div>
                    </div>
                </div>

            </section>
        </main>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./assets/js/dati.js"></script>
    <script src="./assets/js/main.js"></script>
    
</body>
</html>