@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap);
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container {
    width: 50%;
  }
}

.display-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.25em;
}

.mb-1 {
  margin-bottom: 0.25em;
}

.ml-1 {
  margin-left: 0.25em;
}

.mr-1 {
  margin-right: 0.25em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.ml-2 {
  margin-left: 0.5em;
}

.mr-2 {
  margin-right: 0.5em;
}

.mt-3 {
  margin-top: 0.75em;
}

.mb-3 {
  margin-bottom: 0.75em;
}

.ml-3 {
  margin-left: 0.75em;
}

.mr-3 {
  margin-right: 0.75em;
}

.mt-4 {
  margin-top: 1em;
}

.mb-4 {
  margin-bottom: 1em;
}

.ml-4 {
  margin-left: 1em;
}

.mr-4 {
  margin-right: 1em;
}

.mt-5 {
  margin-top: 1.25em;
}

.mb-5 {
  margin-bottom: 1.25em;
}

.ml-5 {
  margin-left: 1.25em;
}

.mr-5 {
  margin-right: 1.25em;
}

.mt-6 {
  margin-top: 1.5em;
}

.mb-6 {
  margin-bottom: 1.5em;
}

.ml-6 {
  margin-left: 1.5em;
}

.mr-6 {
  margin-right: 1.5em;
}

.mt-7 {
  margin-top: 1.75em;
}

.mb-7 {
  margin-bottom: 1.75em;
}

.ml-7 {
  margin-left: 1.75em;
}

.mr-7 {
  margin-right: 1.75em;
}

.mt-8 {
  margin-top: 2em;
}

.mb-8 {
  margin-bottom: 2em;
}

.ml-8 {
  margin-left: 2em;
}

.mr-8 {
  margin-right: 2em;
}

.mt-9 {
  margin-top: 2.25em;
}

.mb-9 {
  margin-bottom: 2.25em;
}

.ml-9 {
  margin-left: 2.25em;
}

.mr-9 {
  margin-right: 2.25em;
}

.mt-10 {
  margin-top: 2.5em;
}

.mb-10 {
  margin-bottom: 2.5em;
}

.ml-10 {
  margin-left: 2.5em;
}

.mr-10 {
  margin-right: 2.5em;
}

.mt-11 {
  margin-top: 2.75em;
}

.mb-11 {
  margin-bottom: 2.75em;
}

.ml-11 {
  margin-left: 2.75em;
}

.mr-11 {
  margin-right: 2.75em;
}

.mt-12 {
  margin-top: 3em;
}

.mb-12 {
  margin-bottom: 3em;
}

.ml-12 {
  margin-left: 3em;
}

.mr-12 {
  margin-right: 3em;
}

.mt-13 {
  margin-top: 3.25em;
}

.mb-13 {
  margin-bottom: 3.25em;
}

.ml-13 {
  margin-left: 3.25em;
}

.mr-13 {
  margin-right: 3.25em;
}

.mt-14 {
  margin-top: 3.5em;
}

.mb-14 {
  margin-bottom: 3.5em;
}

.ml-14 {
  margin-left: 3.5em;
}

.mr-14 {
  margin-right: 3.5em;
}

.mt-15 {
  margin-top: 3.75em;
}

.mb-15 {
  margin-bottom: 3.75em;
}

.ml-15 {
  margin-left: 3.75em;
}

.mr-15 {
  margin-right: 3.75em;
}

.mt-16 {
  margin-top: 4em;
}

.mb-16 {
  margin-bottom: 4em;
}

.ml-16 {
  margin-left: 4em;
}

.mr-16 {
  margin-right: 4em;
}

.pt-1 {
  padding-top: 0.25em;
}

.pb-1 {
  padding-bottom: 0.25em;
}

.pl-1 {
  padding-left: 0.25em;
}

.pr-1 {
  padding-right: 0.25em;
}

.pt-2 {
  padding-top: 0.5em;
}

.pb-2 {
  padding-bottom: 0.5em;
}

.pl-2 {
  padding-left: 0.5em;
}

.pr-2 {
  padding-right: 0.5em;
}

.pt-3 {
  padding-top: 0.75em;
}

.pb-3 {
  padding-bottom: 0.75em;
}

.pl-3 {
  padding-left: 0.75em;
}

.pr-3 {
  padding-right: 0.75em;
}

.pt-4 {
  padding-top: 1em;
}

.pb-4 {
  padding-bottom: 1em;
}

.pl-4 {
  padding-left: 1em;
}

.pr-4 {
  padding-right: 1em;
}

.pt-5 {
  padding-top: 1.25em;
}

.pb-5 {
  padding-bottom: 1.25em;
}

.pl-5 {
  padding-left: 1.25em;
}

.pr-5 {
  padding-right: 1.25em;
}

.pt-6 {
  padding-top: 1.5em;
}

.pb-6 {
  padding-bottom: 1.5em;
}

.pl-6 {
  padding-left: 1.5em;
}

.pr-6 {
  padding-right: 1.5em;
}

.pt-7 {
  padding-top: 1.75em;
}

.pb-7 {
  padding-bottom: 1.75em;
}

.pl-7 {
  padding-left: 1.75em;
}

.pr-7 {
  padding-right: 1.75em;
}

.pt-8 {
  padding-top: 2em;
}

.pb-8 {
  padding-bottom: 2em;
}

.pl-8 {
  padding-left: 2em;
}

.pr-8 {
  padding-right: 2em;
}

.pt-9 {
  padding-top: 2.25em;
}

.pb-9 {
  padding-bottom: 2.25em;
}

.pl-9 {
  padding-left: 2.25em;
}

.pr-9 {
  padding-right: 2.25em;
}

.pt-10 {
  padding-top: 2.5em;
}

.pb-10 {
  padding-bottom: 2.5em;
}

.pl-10 {
  padding-left: 2.5em;
}

.pr-10 {
  padding-right: 2.5em;
}

.pt-11 {
  padding-top: 2.75em;
}

.pb-11 {
  padding-bottom: 2.75em;
}

.pl-11 {
  padding-left: 2.75em;
}

.pr-11 {
  padding-right: 2.75em;
}

.pt-12 {
  padding-top: 3em;
}

.pb-12 {
  padding-bottom: 3em;
}

.pl-12 {
  padding-left: 3em;
}

.pr-12 {
  padding-right: 3em;
}

.pt-13 {
  padding-top: 3.25em;
}

.pb-13 {
  padding-bottom: 3.25em;
}

.pl-13 {
  padding-left: 3.25em;
}

.pr-13 {
  padding-right: 3.25em;
}

.pt-14 {
  padding-top: 3.5em;
}

.pb-14 {
  padding-bottom: 3.5em;
}

.pl-14 {
  padding-left: 3.5em;
}

.pr-14 {
  padding-right: 3.5em;
}

.pt-15 {
  padding-top: 3.75em;
}

.pb-15 {
  padding-bottom: 3.75em;
}

.pl-15 {
  padding-left: 3.75em;
}

.pr-15 {
  padding-right: 3.75em;
}

.pt-16 {
  padding-top: 4em;
}

.pb-16 {
  padding-bottom: 4em;
}

.pl-16 {
  padding-left: 4em;
}

.pr-16 {
  padding-right: 4em;
}

.container nav {
  width: 100%;
}
.container nav .links {
  width: 100%;
  margin: 0 auto;
}
.container nav .links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container nav .links ul li.active a {
  color: black;
  font-weight: 700;
}
.container nav .links ul li a {
  text-decoration: none;
  padding: 0 20px;
  color: #978f88;
}
.container nav .links ul li a:hover {
  color: black;
}
.container nav .links ul li a.arrow-down::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  padding-left: 5px;
}
.container nav .links ul li a.arrow-down {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .jumptron {
  height: 700px;
  width: 100vw;
  background-image: url(../images/bg-transparent-3.png);
  background-color: #1e3020;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
header .jumptron ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header .jumptron ul li {
  font-size: 0.75em;
  color: #ffffff;
}
header .jumptron ul li span {
  font-weight: bolder;
}
header .jumptron .bg-img {
  height: 75%;
  width: 100%;
  background-image: url(../images/banner-5-2x-scaled.jpg);
  box-shadow: inset 400px 400px 400px 400px #00000070;
  background-size: cover;
}
header .jumptron .bg-img .container {
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
header .jumptron .bg-img .container span {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 500;
}
header .jumptron .bg-img .container h3 {
  width: 400px;
  font-size: 2em;
}
header .jumptron .bg-img .container input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
}
header .jumptron .bg-img .container input:hover {
  background-color: #A2B742;
  color: #ffffff;
  cursor: pointer;
}
header .jumptron .jumbo-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .jumptron .jumbo-bottom img {
  height: 300px;
  padding-top: 100px;
}
header .jumptron .jumbo-bottom span {
  padding-top: 20px;
  color: #ffffff;
  font-size: 0.75em;
}
header .jumptron .jumbo-bottom span a {
  color: #ffffff;
  font-size: 1.25em;
  padding-left: 15px;
}

header {
  width: 100%;
}
header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo, header .container .input-search, header .container .contact-us, header .container .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img, header .container .input-search img, header .container .contact-us img, header .container .icons img {
  height: 35px;
}
header .container .input-search {
  position: relative;
}
header .container .input-search input {
  width: 350px;
  border-radius: 20px;
  border: 0;
  background-color: #dcd5d0;
  padding: 10px 20px;
  padding-left: 30px;
}
header .container .input-search input:focus {
  border: 0;
  outline: 0;
}
header .container .input-search i {
  position: absolute;
  left: 12px;
  font-size: 0.75em;
}
header .container .icons {
  font-size: 1em;
}
header hr {
  opacity: 0.4;
}

section.image-xl .container .image {
  height: 350px;
  width: 100%;
  background-image: url("../images/banner-3-2x-scaled.jpg");
  background-size: cover;
  color: #ffffff;
  box-shadow: inset 400px 400px 400px 400px #00000048;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.image-xl .container .image input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
}
section.image-xl .container .image input:hover {
  background-color: #A2B742;
  color: #ffffff;
  cursor: pointer;
}
section.image-xl .container .image span {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 500;
}
section.image-xl .container .image h3 {
  font-size: 2em;
}
section.image-xl .container .products-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
section.image-xl .container .products-button span {
  font-size: 0.75em;
  font-weight: bold;
  color: #A2B742;
  margin-right: auto;
  justify-self: left;
}
section.image-xl .container .products-button span:hover {
  cursor: pointer;
}
section.image-xl .container .products-button input.products-view {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  background-color: #A2B742;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.75em;
  margin-left: auto;
  justify-self: right;
}
section.image-xl .container .products-button input.products-view:hover {
  cursor: pointer;
}

section.products-price .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.products-price .container span.pb-8 {
  font-size: 1.25em;
  font-weight: 600;
}
section.products-price .container .product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2;
}
section.products-price .container .product .image {
  width: 200px;
  height: 200px;
  position: relative;
}
section.products-price .container .product .image:hover .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section.products-price .container .product .image .overlay {
  width: 100%;
  height: 100%;
  background-color: #a45f4281;
  position: absolute;
  top: 0;
  display: none;
  color: #ffffff;
}
section.products-price .container .product .image .overlay i, section.products-price .container .product .image .overlay p:hover {
  cursor: pointer;
}
section.products-price .container .product .image .overlay i {
  font-size: 2em;
  padding: 15px 18px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.555);
}
section.products-price .container .product .image .overlay p {
  color: #ffffff;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 700;
}
section.products-price .container .product p {
  color: #77ab82;
  font-size: 1em;
}
section.products-price .container .product p span.discount {
  color: black;
  font-size: 0.75em;
  text-decoration: line-through;
}
section.products-price .container .product span {
  font-size: 0.75em;
  font-weight: bold;
}
section.products-price .container .product span.price {
  color: #77ab82;
}
section.products-price .container .product span.price span.discount {
  text-decoration: line-through;
}

section.testimonials {
  height: 800px;
}
section.testimonials .testimonials-bg {
  height: 400px;
  background-color: #1e3020;
  background-image: url(../images/bg-transparent-3.png);
}
section.testimonials .container {
  height: 100%;
}
section.testimonials .container h1 {
  color: #ffffff;
  font-size: 2em;
}
section.testimonials .container .customers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.testimonials .container .customers .testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
section.testimonials .container .customers .testimonial img {
  height: 60px;
  border-radius: 50%;
}
section.testimonials .container .customers .testimonial span {
  width: 300px;
  font-size: 0.75em;
}
section.testimonials .container .customers .testimonial p {
  color: #dcd5d0;
  font-size: 0.75em;
}
section.testimonials .container .newsletter {
  margin-top: -50px;
  height: 350px;
  background-image: url("../images/banner-7-2x-scaled.jpg");
  box-shadow: inset 400px 400px 400px 400px rgba(0, 0, 0, 0.062);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
}
section.testimonials .container .newsletter span {
  font-size: 1.75em;
  font-weight: bold;
}
section.testimonials .container .newsletter p {
  width: 450px;
  text-align: left;
  font-size: 0.75em;
}
section.testimonials .container .newsletter input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
}
section.testimonials .container .newsletter input.text {
  background-color: #dcd5d0;
  width: 300px;
}
section.testimonials .container .newsletter input.button {
  background-color: #A2B742;
  color: #ffffff;
}
section.testimonials .container .newsletter input.button:hover {
  cursor: pointer;
}

section.tips-tricks span.section-name {
  font-size: 1.5em;
}
section.tips-tricks p {
  color: #77ab82;
  font-size: 0.75em;
  font-weight: bold;
}
section.tips-tricks .card-articles {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.tips-tricks .card-articles .card-article .card-img {
  position: relative;
}
section.tips-tricks .card-articles .card-article .card-img:hover .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.tips-tricks .card-articles .card-article .card-img img {
  width: 200px;
  height: 200px;
}
section.tips-tricks .card-articles .card-article .card-img .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.219);
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
}
section.tips-tricks .card-articles .card-article .card-img .overlay p {
  width: 160px;
  color: #ffffff;
}
section.tips-tricks .card-articles .card-article .title-article {
  padding-top: 10px;
  padding-left: 10px;
}
section.tips-tricks .card-articles .card-article .title-article .title {
  font-size: 0.75em;
  font-weight: 600;
  width: 160px;
  color: black;
  line-height: 1.5;
}
section.tips-tricks .card-articles .card-article .title-article .date {
  font-size: 0.5em;
  font-weight: 500;
  color: black;
}
section.tips-tricks input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  background-color: #A2B742;
  color: #ffffff;
}
section.tips-tricks input:hover {
  cursor: pointer;
}

section.popular-arrivals {
  background-color: #1e3020;
  background-image: url(../images/bg-transparent-3.png);
}
section.popular-arrivals .images {
  width: 100%;
  display: flex;
}
section.popular-arrivals .images .img-1, section.popular-arrivals .images .img-2 {
  width: 50%;
  height: 350px;
  position: relative;
  background-size: cover;
}
@media (min-width: 1400px) {
  section.popular-arrivals .images .img-1, section.popular-arrivals .images .img-2 {
    height: 500px;
  }
}
section.popular-arrivals .images .img-1 img, section.popular-arrivals .images .img-2 img {
  width: 100%;
}
section.popular-arrivals .images .img-1 .overlay, section.popular-arrivals .images .img-2 .overlay {
  background-color: rgba(0, 0, 0, 0.212);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  color: #ffffff;
}
section.popular-arrivals .images .img-1 .overlay span, section.popular-arrivals .images .img-2 .overlay span {
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
section.popular-arrivals .images .img-1 .overlay h3, section.popular-arrivals .images .img-2 .overlay h3 {
  font-size: 1.5em;
}
section.popular-arrivals .images .img-1 .overlay input, section.popular-arrivals .images .img-2 .overlay input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
}
section.popular-arrivals .images .img-1 .overlay input:hover, section.popular-arrivals .images .img-2 .overlay input:hover {
  background-color: #A2B742;
  color: #ffffff;
  cursor: pointer;
}
section.popular-arrivals .images .img-1 {
  background-image: url("../images/banner-8-2x.jpg");
}
section.popular-arrivals .images .img-2 {
  background-image: url("../images/banner-9-2x.jpg");
}
section.popular-arrivals .container .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.popular-arrivals .container .icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
}
section.popular-arrivals .container .icons .icon i {
  font-size: 2.5em;
}

section.product-arrival p.pb-8 {
  color: #77ab82;
  font-weight: 600;
}
section.product-arrival .latest-products {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section.product-arrival .latest-products .product .image {
  width: 300px;
  height: 300px;
  position: relative;
}
section.product-arrival .latest-products .product .image:hover .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section.product-arrival .latest-products .product .image .overlay {
  width: 100%;
  height: 100%;
  background-color: #a45f4281;
  position: absolute;
  top: 0;
  display: none;
  color: #ffffff;
}
section.product-arrival .latest-products .product .image .overlay i, section.product-arrival .latest-products .product .image .overlay p:hover {
  cursor: pointer;
}
section.product-arrival .latest-products .product .image .overlay i {
  font-size: 2em;
  padding: 15px 18px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.555);
}
section.product-arrival .latest-products .product .image .overlay p {
  color: #ffffff;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 700;
}
section.product-arrival .latest-products .product p {
  color: #77ab82;
  font-size: 1em;
}
section.product-arrival .latest-products .product p span.discount {
  color: black;
  font-size: 0.75em;
  text-decoration: line-through;
}

main section.browse-category h2 {
  font-size: 2em;
  color: #1e3020;
}
main section.browse-category span {
  font-size: 0.75em;
  font-weight: bold;
}
main .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .categories .category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% /4 - 5px);
  height: 280px;
}
main .categories .category .category-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 250px 250px;
  background-color: #faf4f4;
}
main .food_type {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 -25px;
}
main .food_type .food {
  width: calc(100% / 3 - 25px);
  height: 500px;
  background-color: #1e3020;
  background-image: url(../images/bg-transparent-3.png);
  transition: all 0.1s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
main .food_type .food:hover {
  transform: scale(1.05);
}
main .food_type .food span {
  font-size: 1.75em;
  color: #ffffff;
}
main .food_type .food p {
  font-size: 0.75em;
  color: #A2B742;
  font-weight: bolder;
}
main .food_type .food-img img {
  height: 200px;
}
main .food_type input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  background-color: #A2B742;
  color: white;
}
main .food_type input:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}

footer {
  width: 100%;
}
footer .top-footer {
  background-color: #1e3020;
}
footer .top-footer .container {
  border-bottom: 0.01em solid rgba(255, 255, 255, 0.319);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 0.75em;
}
footer .top-footer .container .info-contact .logo img {
  width: 160px;
}
footer .top-footer .container .info-contact p {
  line-height: 1.6;
}
footer .top-footer .container .shop_by_brand h3, footer .top-footer .container .useful_links h3 {
  font-size: 1.25em;
  font-weight: 600;
}
footer .top-footer .container .shop_by_brand ul li, footer .top-footer .container .useful_links ul li {
  list-style: none;
  line-height: 3;
}
footer .top-footer .container .shop_by_brand ul li a, footer .top-footer .container .useful_links ul li a {
  text-decoration: none;
  color: #ffffff;
}
footer .top-footer .container .newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 200px;
  width: 180px;
  border-radius: 8px;
  background-color: #2c472f;
  background-image: url(../images/bg-transparent-3.png);
  background-size: cover;
}
footer .top-footer .container .newsletter span {
  font-size: 1.25em;
  font-weight: 600;
}
footer .top-footer .container .newsletter input {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  width: 150px;
}
footer .top-footer .container .newsletter input.text {
  font-size: 0.75em;
}
footer .top-footer .container .newsletter input.button {
  background-color: #A2B742;
  color: #ffffff;
}
footer .bottom-footer {
  background-color: black;
  height: 50px;
}
